@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5fd;
  min-height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 606px;
  max-height: 860px;
  background-color: #fff;
  box-shadow: 0px 24px 35px -15px rgba(100, 93, 152, 0.17);
  border-radius: 25px;
  position: relative;
}

.svg-container {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.svg {
  width: 32px;
  height: 32px;
}

.card h2 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #151534;
  margin-top: 85px;
  margin-bottom: 69px;
}

.form {
  max-width: 418px;
  margin: 0 auto;
}

.form input,
select,
textarea {
  width: 100%;
  height: 45px;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: rgba(21, 21, 52, 0.6);
}

.form input:focus,
textarea:focus {
  outline: none;
}

.form select {
  color: #000;
}

.form select:focus {
  outline: none;
}

.form textarea {
  width: 476px;
  height: 159px;
  margin-bottom: 40px;
}

.form button {
  width: 475px;
  height: 72px;
  background-color: #151534;
  border-radius: 70px;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  margin-bottom: 120px;
}
